.page-indicator__wrapper {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 95px;
  height: 10px;
  margin: 1rem 0;
}

.page-indicator__wrapper .page-span__active {
  margin: 0px 5px;
  background: linear-gradient(
      94.75deg,
      rgba(0, 0, 0, 0.24) 0%,
      rgba(0, 0, 0, 0) 100.7%
    ),
    #cd8b65;
  border-radius: 10px;
  width: 44px;
  height: 6px;
}

.page-indicator__wrapper .page-span {
  background: #9f9f9f;
  opacity: 0.36;
  border-radius: 10px;
  margin: 0px 5px;
  width: 21px;
  height: 6px;
}
