@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Play&family=Wellfleet&display=swap');

body {
    margin: 0;
    font-family: 'Play', sans-serif;
}

input::placeholder {
    font-size: 1rem;
}

